{% import '/Form/theme.html.twig' as formTheme %}

<div class="row">
    <div class="col-md-12">
        <form  name="{{ form.vars.name }}" method="{{ form.vars.method }}" action="{{ path('GET_' ~ metadata.parameters.route.root ~ '_' ~  metadata.parameters.route.actions.update, {'id': resource.id}) }}">
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.name) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.businessName) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.identification) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.address) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.postalCode) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.town) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.province) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.country) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.bank) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.iban) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.paymentDay1) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.paymentDay2) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.discountSoonPayment) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.discountProduct) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.discountService) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.alertPriceChanges) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.type) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.dinners) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.gender) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.birthDate) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.reference) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.periodicity) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.defaultPaymentMethod) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.defaultRate) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.defaultIva) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.defaultIrpf) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.recommendedByCustomer) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.defaultRealizationArea) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ formTheme.form_row(form.children.customerGroup) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ formTheme.form_row(form.children.customerContact) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ formTheme.form_row(form.children.customerObservation) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ formTheme.form_row(form.children.customerAddress) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ formTheme.form_row(form.children.enabled) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ formTheme.form_row(form.children.company) }}
                </div>
            </div>
            <br>
            <div class="form-buttons">
                {% include '/Form/Buttons/_update.html.twig' with {'paths': {'cancel': path('GET_' ~ metadata.parameters.route.root ~ '_' ~  metadata.parameters.route.actions.list, configuration.vars.route.parameters|default({}))}} %}
            </div>
        </form>
    </div>
</div>
